header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 17px;
    z-index: 20;
    transition: .3s background-color;
}

header.active {
    background-color: #9668ff;
}

.header-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.logo a {
    display: flex;
    align-items: center;
}

.logo a img {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    margin-right: 15px;
}

.logo a h3 {
    color: #fff;
}

.header-list {
    display: flex;
}

.header-list li {
    margin-left: 20px;
}

.header-list li a:not(.dwnl-btn) {
    color: #dadada;
    transition: .3s color;
}

.header-list li a:not(.dwnl-btn):hover {
    color: #fff;
}

.dwnl-btn {
    padding: 10px;
    background-color: #fff;
    color: #000;
    border-radius: 7px;
    transition: .3s background-color;
}

.dwnl-btn:hover {
    background-color: #f1e9ff;
}

@media (max-width: 767px) {
    .hamburger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        cursor: pointer;
        z-index: 32;
    }

    .hamburger::before, .hamburger::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: 1s;
    }

    .hamburger::before {
        top: 0;
    }

    .hamburger::after {
        bottom: 0;
    }

    .hamburger span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        background-color: #fff;
        transition: 1s;
    }

    .hamburger.active::before {
        background-color: #000;
        transform: rotate(45deg);
        top: 9px;
    }

    .hamburger.active::after {
        background-color: #000;
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .hamburger.active span {
        transform: scale(0);
    }

    .header-list {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        background-color: #ececec;
        padding: 50px 0 0 0;
        border-left: 7px #dcdcdc solid;
        z-index: 21;
        display: block;
        padding-top: 100px;
        transition: 1s;
    }

    .header-list.active {
        transition: 0.5s;
        right: 0;
    }

    .header-list li {
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 10px;
    }

    .header-list li a:not(.dwnl-btn), .dwnl-btn {
        padding: 10px;
        border-radius: 7px;
        display: block;
        color: #000000;
        transition: .3s background-color;
    }

    .header-list li a:not(.dwnl-btn):hover, .dwnl-btn:hover {
        background-color: #cdcdcd;
        color: #000000;
    }

    .dwnl-btn {
        background-color: #ececec;
    }
}