@import url(./header.css);
@import url(./home.css);
@import url(./waves.css);
@import url(./footer.css);
@import url(./dl.css);
@import url(./team.css);
@import url(./roulette.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

input, button, textarea {
    border: none;
    outline: none;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    padding-left: 20px;
    padding-right: 20px;
}

*::-webkit-scrollbar {
    width: 6px;
}
  
*::-webkit-scrollbar-track {
    background: #f0f0f0;
}
  
*::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}
  
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#root {
    min-height: 100vh;
    position: relative;
    padding-bottom: 140px;
}

.dim-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 21;
}

.dim-overlay.active {
    visibility: visible;
    opacity: 0.95;
    transition: .3s;
}